global:
  scrape_interval: 3s
scrape_configs:
  - job_name: 'producer'
    static_configs:
      - targets: ['localhost:8001']
  - job_name: 'consumer'
    static_configs:
      - targets: ['localhost:8010']
